// couleurs : bleu foncé : #001952; beige : #FBF7EF; blanc claire : #fff opacity 60%

// Typo ecriture : Inter Tight
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
// typo titre Stick No Bills
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
// BODY
body {
    background-color: #FBF7EF;
    font-family: Inter Tight;
// NAV
    .topNav {
        background-color: #001952;
        font-size: 1.5rem;
        font-family: "Inner Tight", sans-serif;
        display: flex;
        justify-content: space-between;
        padding: 0 5vh;

        img {
            width: 15%;
        }

        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 50%;

            li {
                list-style-type: none;

                a {
                    color: #FBF7EF;
                    text-decoration: none;
                }
            }
        }
    }
// HEADER
    main header {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.6);
        padding: 3vh ;
        h2{
            font-family: Stick No Bills;
            color: #001952;
            font-size: 6rem;
            font-weight: 300;
            text-transform: uppercase;
        }
        img{
            padding: 3vh;
        }
    }
    // LIGNE
    .line{
        height: 0.4vh;
        width: 100%;
        background-color: #001952;
    }
    // CLASS DESCRIPTION
    .description{
        display: flex;
        align-items: center;
        flex-direction: column;
        .descriptionContainer{
            background-color: #001952;
            margin: 5vh;
            width: 95%;
            text-align: center;
            padding: 3vh;
            border-radius: 100px;
            p{
                font-family: Inter Tight;
                color: #FBF7EF;
                font-size: 1.3rem;
                padding-top: 2vh;
            }
        }
    }
    .etoile{
        display: flex;
        justify-content: center;
        svg{
        stroke: #FFFB86;
        height: 5vh;
        width: 5%;
        stroke-width: 3px;
        }
    }
    // SECTION PNL
    .pnl {
        background-color: rgba(255, 255, 255, 0.6);
        margin: 5vh ;
        width: 95%;
        padding: 3vh;
        border-radius: 30px;
        border: 0.5vh solid #001952;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3vh;
        .titre{
            display: flex;
            justify-content: center;
            h4{
                background-color: #fff;
                border: 0.4vh solid #001952;
                border-radius: 8px;
                padding: .7vh 3vh;
                color: #001952;
                font-family: Stick No Bills;
                font-size: 2.3rem;
                width: 280px;
                height: 50px;
                text-align: center;
                font-weight: 400;
            }
        }
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 7vh;
            .texte{
                width: 60%;
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 3vh;
                p{
                    color: #001952;
                    font-family: Inter Tight;
                    font-size: 1.1rem;
                    padding-top: 5vh;
                }
            }
            img{
                height: 420px;
                border-radius: 100px;
            }
        }
    }
    
}

