// import font Stick No Bills
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200..800&display=swap');

// import font Inner Tight
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

// reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// nav
body{
    background-color: #FFF4DE;
    main{
        .topNav{
            background-color: #402307;
            font-size: 1.7rem;
            font-family: "Inner Tight", sans-serif;
            display: flex;
            justify-content: space-between;
            padding: 0 5vh;
            .backToMain{
                width: 15%;
                img{
                    width: 100%;
                }
            }
            ul{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 50%;
                li{
                    list-style-type: none;
                    a{
                        color: #fff;
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .formContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .radioForm{
                background-color: #402307;
                color: #fff;
                width: 80%;
                padding: 3rem;
                border-radius: 2rem;
                margin: 10vh 0;
                font-family: "Inner Tight", sans-serif;
                fieldset{
                    border: none;
                    legend{
                        font-size: 3rem;
                        margin-bottom: 5vh;
                    }
                    .infos{
                        display: flex;
                        flex-direction: row;
                        gap: 15vw;
                        p{
                            display: flex;
                            flex-direction: column;
                            font-size: 1.8rem;
                            gap: 1rem;
                            input{
                                padding: 1rem;
                                color: #b69776;
                                border: none;
                                border-radius: 2rem;
                                font-size: 1.5rem;
                                &::placeholder{
                                    color: #b69776;
                                }
                            }
                        }
                        .firstPartInfos{
                            display: flex;
                            flex-direction: column;
                            gap: 2rem;
                            .programmePref{
                                input{
                                    width: 5%;
                                    height: 3vh;
                                }
                            }
                        }
                        .secondPartInfos{
                            display: flex;
                            flex-direction: column;
                            gap: 2rem;
                            width: 50%;
                            textarea{
                                border-radius: 2rem;
                                color: #b69776;
                                padding: 1rem;
                                font-family: "Inner Tight", sans-serif;
                                font-size: 1.5rem;
                                height: 30vh;
                                width: 100%;
                                &::placeholder{
                                    color: #b69776;
                                }
                            }
                            .submit{
                                input{
                                    background-color: #200d00;
                                    color: #fff;
                                    text-transform: uppercase;
                                    padding: 3vh 0;
                                    font-weight: 600;
                                    letter-spacing: .2rem;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.footerContainer{
    background-color: #402307;
    .botNav{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5vh 0;
        color: #fff;
        a{
            color: #fff;
            text-decoration: none;
        }
        .botNavContainer{
            width: 50%;
            display: flex;
            justify-content: space-between;
            h6{
                font-family: "Stick No Bills", sans-serif;
                font-size: 1.5rem;
            }
            p, a{
                font-family: "Inner Tight", sans-serif;
            }
            .programme{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                width: 30%;
                ul{
                    li{
                        list-style-type: none;
                        &:hover{
                            text-decoration: underline;
                        }
                        
                    }
                }
            }
            .doubleElements{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .contact{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    .contactMethods{
                        display: flex;
                        flex-direction: column;
                        a{
                            &:hover{
                                text-decoration: underline;
                            }
                        }   
                    }
                }
                .adress{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
            }
            .socials{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                        .socialsIcons{
                    display: flex;
                    gap: 1rem;
                    svg{
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .copyright{
        color: #fff;
        display: flex;
        justify-content: center;
        font-family: "Inner Tight", sans-serif;
        gap: .5rem;
        padding: 2vh;
        a{
            color: #fff;
        }
    }
}