@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #DEF7FF;
}
body main #topNav {
  background-color: #00B0B6;
  font-size: 1.7rem;
  font-family: "Inner Tight", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 0 5vh;
}
body main #topNav .backToMain {
  width: 15%;
}
body main #topNav .backToMain img {
  width: 100%;
}
body main #topNav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
body main #topNav ul li {
  list-style-type: none;
}
body main #topNav ul li a {
  color: #fff;
  text-decoration: none;
}
body main #topNav ul li a:hover {
  text-decoration: underline;
}
body main header {
  background-image: url(../img/fond_lukas.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
body main header h1 {
  font-family: "Stick No Bills", sans-serif;
  font-size: 7rem;
  font-weight: 600;
  text-align: center;
  color: #00B0B6;
  padding: 15vh 0;
}
body main .mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding: 6rem 0;
}
body main .mainContainer article {
  background-color: #00B0B6;
  border-radius: 1rem;
  width: 80%;
  padding: 5vh;
  display: flex;
}
body main .mainContainer article .indieParagraph {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  line-height: 2rem;
}
body main .mainContainer article .indieParagraph p {
  color: #fff;
  width: 90%;
  font-size: 1.5rem;
  font-family: "Inner Tight", sans-serif;
}
body main .mainContainer article img {
  width: 50%;
  border-radius: 1rem;
}
body main .mainContainer .artists {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
body main .mainContainer .artists .artistWhiteBG {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 5vh;
  border-radius: 1rem;
  gap: 2rem;
  transition: all 0.5s;
}
body main .mainContainer .artists .artistWhiteBG img {
  width: 30vh;
  height: 30vh;
  border-radius: 1rem;
}
body main .mainContainer .artists .artistWhiteBG .describeArtist {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body main .mainContainer .artists .artistWhiteBG .describeArtist h3 {
  color: #00B0B6;
  font-family: "Stick No Bills", sans-serif;
  font-size: 4rem;
  font-weight: 500;
}
body main .mainContainer .artists .artistWhiteBG .describeArtist p {
  font-family: "Inner Tight", sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
  width: 80%;
}
body main .mainContainer .artists .artistTealBG {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  background-color: #00B0B6;
  padding: 5vh;
  border-radius: 1rem;
  gap: 2rem;
  transition: all 0.5s;
}
body main .mainContainer .artists .artistTealBG img {
  width: 30vh;
  height: 100%;
  border-radius: 1rem;
}
body main .mainContainer .artists .artistTealBG .describeArtist {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}
body main .mainContainer .artists .artistTealBG .describeArtist h3 {
  color: #fff;
  font-family: "Stick No Bills", sans-serif;
  font-size: 4rem;
  font-weight: 500;
  text-align: right;
  width: 70%;
}
body main .mainContainer .artists .artistTealBG .describeArtist p {
  font-family: "Inner Tight", sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #fff;
  text-align: right;
  width: 80%;
}
body main .didYouKnow {
  background-color: #00B0B6;
  width: 80%;
  text-align: center;
  padding: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  gap: 2vh;
}
body main .didYouKnow h2 {
  color: #fff;
  font-family: "Stick No Bills", sans-serif;
  font-size: 2.5rem;
}
body main .didYouKnow .answers {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
body main .didYouKnow .answers .possibleChoices {
  display: flex;
  justify-content: space-between;
}
body main .didYouKnow .answers .possibleChoices label {
  color: #fff;
  font-size: 1.5rem;
  font-family: "Inner Tight", sans-serif;
}
body main .didYouKnow .answers .possibleChoices input {
  width: 2.5vh;
  height: 2.5vh;
}
body main .didYouKnow .answers #answerResponse {
  font-family: "Inner Tight", sans-serif;
  color: #fff;
  font-size: 1.2rem;
}
body main .footerContainer {
  background-color: #00B0B6;
}
body main .footerContainer .botNav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh 0;
  color: #fff;
}
body main .footerContainer .botNav a {
  color: #fff;
  text-decoration: none;
}
body main .footerContainer .botNav .botNavContainer {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
body main .footerContainer .botNav .botNavContainer h6 {
  font-family: "Stick No Bills", sans-serif;
  font-size: 1.5rem;
}
body main .footerContainer .botNav .botNavContainer p, body main .footerContainer .botNav .botNavContainer a {
  font-family: "Inner Tight", sans-serif;
}
body main .footerContainer .botNav .botNavContainer .programme {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
}
body main .footerContainer .botNav .botNavContainer .programme ul li {
  list-style-type: none;
}
body main .footerContainer .botNav .botNavContainer .programme ul li:hover {
  text-decoration: underline;
}
body main .footerContainer .botNav .botNavContainer .doubleElements {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body main .footerContainer .botNav .botNavContainer .doubleElements .contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body main .footerContainer .botNav .botNavContainer .doubleElements .contact .contactMethods {
  display: flex;
  flex-direction: column;
}
body main .footerContainer .botNav .botNavContainer .doubleElements .contact .contactMethods a:hover {
  text-decoration: underline;
}
body main .footerContainer .botNav .botNavContainer .doubleElements .adress {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body main .footerContainer .botNav .botNavContainer .socials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body main .footerContainer .botNav .botNavContainer .socials .socialsIcons {
  display: flex;
  gap: 1rem;
}
body main .footerContainer .botNav .botNavContainer .socials .socialsIcons svg {
  cursor: pointer;
  width: 3vh;
  height: 3vh;
}
body main .footerContainer .copyright {
  color: #fff;
  display: flex;
  justify-content: center;
  font-family: "Inner Tight", sans-serif;
  gap: 0.5rem;
  padding: 2vh;
}
body main .footerContainer .copyright a {
  color: #fff;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  body main #toggle {
    position: fixed;
    display: block;
    width: 5vh;
    height: 0.6vh;
    border-radius: 2vh;
    top: 3vh;
    right: 2vh;
    cursor: pointer;
    background-color: #00B0B6;
    z-index: 999;
  }
  body main #toggle:before, body main #toggle:after {
    content: "";
    position: absolute;
    display: block;
    width: 5vh;
    height: 0.7vh;
    background-color: #00B0B6;
    border-radius: 2vh;
  }
  body main #toggle:before {
    top: -1.2vh;
  }
  body main #toggle:after {
    top: 1.2vh;
  }
  body main #toggle.active {
    background-color: transparent;
  }
  body main #toggle.active::before {
    transform: rotate(45deg);
    top: 0;
    background-color: #fff;
  }
  body main #toggle.active::after {
    transform: rotate(-45deg);
    top: 0;
    background-color: #fff;
  }
  body main #topNav {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 10vh;
    justify-content: left;
    right: -100%;
    width: 100%;
    height: 100vh;
    transition: 0.5s all;
    background-color: #00B0B6;
    z-index: 998;
    padding: 0;
  }
  body main #topNav ul {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin: 0 5vh;
  }
  body main #topNav ul li {
    display: block;
    margin-bottom: 2vh;
    width: 100%;
  }
  body main #topNav ul li a {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
  }
  body main #topNav .backToMain img {
    width: 20vh;
    margin: 0 3vh;
  }
  body main #topNav.active {
    right: -70%;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  body main header h1 {
    font-size: 4.5rem;
  }
  body main .mainContainer article {
    width: 80%;
    background-image: url(../img/musique\ indée\ obscurcie.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
  body main .mainContainer article img {
    display: none;
  }
  body main .mainContainer article .indieParagraph {
    align-items: center;
  }
  body main .mainContainer .artists {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  body main .mainContainer .artists .artistTealBG, body main .mainContainer .artists .artistWhiteBG {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10vh 5vh;
  }
  body main .mainContainer .artists .artistTealBG img, body main .mainContainer .artists .artistWhiteBG img {
    width: 20vh;
    height: 20vh;
    align-self: center;
  }
  body main .mainContainer .artists .artistTealBG .describeArtist, body main .mainContainer .artists .artistWhiteBG .describeArtist {
    align-items: center;
  }
  body main .mainContainer .artists .artistTealBG .describeArtist p, body main .mainContainer .artists .artistWhiteBG .describeArtist p {
    width: 95%;
    text-align: center;
  }
  body main .mainContainer .artists .artistTealBG .describeArtist h3, body main .mainContainer .artists .artistWhiteBG .describeArtist h3 {
    text-align: center;
    width: 100%;
  }
  body main .didYouKnow .answers {
    width: 60%;
  }
  body main .footerContainer .botNav .botNavContainer {
    width: 80%;
  }
}
@media screen and (min-width: 1920px) {
  html {
    font-size: 22px;
  }
}
@media screen and (max-width: 480px) {
  body main #topNav {
    margin: 0 2vh;
    right: -110%;
  }
  body main #topNav .backToMain img {
    width: 15vh;
  }
  body main #topNav ul {
    margin: 0 5vh;
  }
  body main #topNav.active {
    right: -60%;
  }
  body main .mainContainer article {
    width: 90%;
  }
  body main .mainContainer .artists .artistTealBG, body main .mainContainer .artists .artistWhiteBG {
    width: 90%;
  }
  body main .footerContainer .botNav .botNavContainer {
    width: 70%;
  }
  body main .footerContainer .botNav .botNavContainer .programme {
    display: none;
  }
}/*# sourceMappingURL=lukas.css.map */