// import font Stick No Bills
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200..800&display=swap');

// import font Inner Tight
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

// reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// nav
body{
    background-color: #DEF7FF;
    main{
        nav{
            background-color: #00B0B6;
            font-size: 1.5rem;
            font-family: "Inner Tight", sans-serif;
            display: flex;
            justify-content: space-between;
            padding: 0 5vh;
            img{
                width: 15%;
            }
            ul{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 50%;
                li{
                    list-style-type: none;
                    a{
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
        header{
            background-image: url(../img/fond_lukas.jpg);
            h1{
                font-family: "Stick No Bills", sans-serif;
                font-size: 7rem;
                font-weight: 600;
                text-align: center;
                color: #00B0B6;
                padding: 15vh 0;
            }
        }
        .mainContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            article{
                background-color:#00B0B6;
                p{
                    color: #fff;
                }
            }
        }
    }
}