// import font Stick No Bills
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200..800&display=swap');

// import font Inner Tight
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

// Pauline : roseC = FFDDF0 roseF = 540146
// reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3{
    padding-bottom: 2vh;
}
// nav
body{
    background-color: #FFDDF0;
    font-family: "Inner Tight", sans-serif;
    main{
        .topNav{
            background-color: #540146;
            font-size: 1.5rem;
            font-family: "Inner Tight", sans-serif;
            display: flex;
            justify-content: space-between;
            padding: 0 5vh;
            img{
                width: 15%;
            }
            ul{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 50%;
                li{
                    list-style-type: none;
                    a{
                        color: #FFDDF0;
                        text-decoration: none;
                    }
                }
            }
        }
        
        header{
            background-image: url(../PaulineImg/blackpinkmodif3.jpg);
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            h1{
                font-family: "Stick No Bills", sans-serif;
                font-size: 7rem;
                font-weight: 600;
                text-align: center;
                color: #FFDDF0;
                padding: 15vh 0;
            }
        }
        .kpopA{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            padding: 10vh 5vw;
            gap: 5vw;
            font-size: 1.2rem;
            article{
                display: flex;
            justify-content: space-between;
            flex-direction: row;
                aside{
                margin-right: 2vw;    
                width: 40%;
                img{
                    width: 100%;
                    border-radius: 40px;
                }
            }
            p{
                border: #540146 2px solid;
                color: #540146;
                padding: 2vw;
                border-radius: 40px;
                width: 60vw;
            }
            }
        }
        h2{
                font-family: "Stick No Bills", sans-serif;
                font-size: 3rem;
                font-weight: 700;
                text-align: center;
                color: #FFDDF0;
                background-color: #540146;

                padding: 3vh 0;
            }
            .artiste{
                .blackpink{
                    display: flex;
                    flex-direction: row-reverse;
                    width: 100%;
                    padding: 10vh 5vw;
                    font-size: 1.2rem;
                    aside{
                        width: 45%;
                        img{
                            width: 100%;
                            border-radius: 40px;
                        }
                    }
                }
            }
            .fifty{
                    display: flex;
                    flex-direction: row-reverse;
                    width: 100%;
                    padding: 10vh 5vw;
                    font-size: 1.2rem;
                    aside{
                        width: 45%;
                        img{
                            width: 100%;
                            border-radius: 40px;
                        }
                    }
                }
            .texteNote{
                color: #540146;
                padding: 2vw;
                width: 50vw;

                .textA{
                    padding-bottom: 15vh;
                    h3{
                        font-family: "Stick No Bills", sans-serif;
                        font-size: 2rem;
                        font-weight: 700;
                    }
                }
                .note{
                    input{
                        color: #540146;
                        background-color: #FFDDF0;
                        width: 4vw;
                        height: 4vh;
                        text-align: center;
                        
                        border: #540146 2px solid;
                        border-radius: 1vh;
                        &::placeholder{
                            color: #540146;
                            font-family: "Inner Tight", sans-serif;  
                        }
                    }
                    input:focus {
                    border: #540146 2px solid;
                        border-radius: 1vh;
                    outline: none;
                    }
                }
            }
            
//////////////MV
            .mv{

                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 10vh;
            }

//////////FOOTER
        .footerContainer{
            background-color: #540146;
            .botNav{
                margin-top: 10vh;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5vh 0;
                color: #FFDDF0;
                a{
                    color: #FFDDF0;
                    text-decoration: none;
                }
                .botNavContainer{
                    width: 50%;
                    display: flex;
                    justify-content: space-between;
                    h6{
                        font-family: "Stick No Bills", sans-serif;
                        font-size: 1.5rem;
                    }
                    p, a{
                        font-family: "Inner Tight", sans-serif;
                    }
                    .programme{
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        width: 30%;
                        ul{
                            li{
                                list-style-type: none;
                                &:hover{
                                    text-decoration: underline;
                                }
                                
                            }
                        }
                    }
                    .doubleElements{
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        .contact{
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;
                        }
                        .adress{
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;
                        }
                    }
                    .socials{
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        .socialsIcons{
                            display: flex;
                            gap: 1rem;
                            svg{
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            .copyright{
                color: #FFDDF0;
                display: flex;
                justify-content: center;
                font-family: "Inner Tight", sans-serif;
                gap: .5rem;
                padding: 2vh;
                a{
                    color: #FFDDF0;
                }
            }
        }
    }
}

.border{
    border: #540146 2px solid;
    border-radius: 40px;
    margin-right: 2vw;
    // border: 3px solid transparent; /* bordure invisible pour garder la place */
    // border-color: pink;
    // transition: 0.2s;
}