// import font Stick No Bills
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200..800&display=swap');

// import font Inner Tight
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

// Pauline : roseC = FFDDF0 roseF = 540146
// reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// nav
body{
    background-color: #FFDDF0;
    main{
        
        header{
            background-image: url(../PaulineImg/CouvKpop.jpg);
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;
            h1{
                font-family: "Stick No Bills", sans-serif;
                font-size: 7rem;
                font-weight: 600;
                text-align: center;
                color: #540146;
                padding: 15vh 0;
            }
        }
        .kpopA{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            padding: 10vh 5vw;
            background-color: aqua;
            gap: 5vw;
            article{
                display: flex;
            justify-content: space-between;
            flex-direction: row;
                aside{
                    
                width: 30%;
                img{
                    width: 100%;
                    border-radius: 40px;
                }
            }
            p{
                border: #540146 2px solid;
                padding: 0 2vw;
                border-radius: 40px;
                width: 60vW;
            }
            }
        }



        .footerContainer{
            background-color: #540146;
            .botNav{
                margin-top: 10vh;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5vh 0;
                color: #FFDDF0;
                a{
                    color: #FFDDF0;
                    text-decoration: none;
                }
                .botNavContainer{
                    width: 50%;
                    display: flex;
                    justify-content: space-between;
                    h6{
                        font-family: "Stick No Bills", sans-serif;
                        font-size: 1.5rem;
                    }
                    p, a{
                        font-family: "Inner Tight", sans-serif;
                    }
                    .programme{
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        width: 30%;
                        ul{
                            li{
                                list-style-type: none;
                                &:hover{
                                    text-decoration: underline;
                                }
                                
                            }
                        }
                    }
                    .doubleElements{
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        .contact{
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;
                        }
                        .adress{
                            display: flex;
                            flex-direction: column;
                            gap: 1rem;
                        }
                    }
                    .socials{
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        .socialsIcons{
                            display: flex;
                            gap: 1rem;
                            svg{
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            .copyright{
                color: #FFDDF0;
                display: flex;
                justify-content: center;
                font-family: "Inner Tight", sans-serif;
                gap: .5rem;
                padding: 2vh;
                a{
                    color: #FFDDF0;
                }
            }
        }
    }
}