// import font Stick No Bills
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200..800&display=swap');

// import font Inner Tight
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.amina{
    color: #001952;
    accent-color: #001952;
}
.lukas{
    color: #00B0B6;
    accent-color: #00B0B6;
}
.pauline{
    color: #540146;
    accent-color: #540146;
}
.francois{
    color: #000;
    accent-color: #000;
}
body{
    background-color: #FFF4DE;
    main{
        #topNav{
            background-color: #402307;
            font-size: 1.7rem;
            font-family: "Inner Tight", sans-serif;
            display: flex;
            justify-content: space-between;
            padding: 0 5vh;
            .backToMain{
                width: 15%;
                img{
                    width: 100%;
                }
            }
        ul{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 50%;
                li{
                    list-style-type: none;
                    a{
                        color: #fff;
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        header{
            background-image: url(../img/fondQuiz.jpg);
            background-size: cover;
            background-repeat: repeat;
            background-position:center;
            h1{
                text-align: center;
                padding: 10vh;
                font-family: "Stick No Bills", sans-serif;
                font-size: 8rem;
                font-weight: 600;
                color: #402307;
            }
        }
        // .quiz{
        //     display: flex;
        //     flex-direction: column;
        //     align-items: center;
        //     justify-content: center;
        //     padding: 3rem;
        //     gap: 3rem;
        //     .question{
        //         width: 80%;
        //         display: flex;
        //         align-items: center;
        //         gap: 4rem;
        //         padding: 2rem;
        //         border: .2rem solid;
        //         border-radius: 2rem;
        //         font-family: "Inner Tight", sans-serif;
        //         img{
        //             width: 250px;
        //             height: 300px;
        //             border-radius: 2rem;
        //             object-fit: cover;
        //         }
        //         .questionText{
        //             display: flex;
        //             flex-direction: column;
        //             gap: 4rem;
        //             font-size: 1.8rem;
        //             width: 60%;
        //             font-family: "Stick No Bills", sans-serif;
        //             font-weight: 700;
        //             .answers{
        //                 display: flex;
        //                 flex-direction: column;
        //                 gap: 1rem;
        //                 font-size: 1.4rem;
        //                 font-family: "Inner Tight", sans-serif;
        //                 font-weight: 600;
        //                 input{
        //                     width: 2vh;
        //                     height: 2vh;
        //                     outline: 10px;
        //                     mix-blend-mode: multiply;
        //                     box-shadow: none;
        //                 }
        //             }
        //         }
        //     }
        // }
        .quizSection{
            font-family: "Inter", sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70vh;
            .quizContainer {
                background-color: white;
                border-radius: 1rem;
                box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
                width: 60vw;
                overflow: hidden;
                padding: 3rem;
                text-align: center;
                h2 {
                    color: #333;
                    padding: 1.2rem;
                }
                h3 {
                    font-size: 2rem;
                    color: #333;
                }
                .answerContainer{
                    display: flex;
                    align-items: center;
                    gap: 1.3rem;
                    img{
                        border-radius: 1rem;
                        width: 30vh;
                        height: 30vh;
                        object-fit: cover;
                        object-position: center;
                        flex-shrink: 0;
                    }
                }
                .btnContainer {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    width: 100%;
                    button {
                        display: block;
                        background-color: #402307;
                        color: white;
                        border: none;
                        padding: .8rem;
                        font-size: 1rem;
                        border-radius: .5rem;
                        cursor: pointer;
                        transition: background-color 0.3s;
                        &:hover{
                            background-color: #301a05;
                        }
                        &:disabled{
                            background-color: #ccc;
                            cursor: not-allowed;
                        }
                    }
                }
                #result {
                    margin-top: 2rem;
                    font-weight: bold;
                    font-size: 1.2em;
                    color: #28a745;
                }
            }
        }
    }
}

.footerContainer{
    background-color: #402307;
    .botNav{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5vh 0;
        color: #fff;
        a{
            color: #fff;
            text-decoration: none;
        }
        .botNavContainer{
            width: 50%;
            display: flex;
            justify-content: space-between;
            h6{
                font-family: "Stick No Bills", sans-serif;
                font-size: 1.5rem;
            }
            p, a{
                font-family: "Inner Tight", sans-serif;
            }
            .programme{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                width: 30%;
                ul{
                    li{
                        list-style-type: none;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
            .doubleElements{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .contact{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
                .adress{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
            }
            .socials{
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .socialsIcons{
                    display: flex;
                    gap: 1rem;
                    svg{
                        cursor: pointer;
                        width: 3vh;
                        height: 3vh;
                    }
                }
            }
        }
    }
    .copyright{
        color: #fff;
        display: flex;
        justify-content: center;
        font-family: "Inner Tight", sans-serif;
        gap: .5rem;
        padding: 2vh;
        a{
            color: #fff;
        }
    }
}