@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF4DE;
}
body main {
  font-family: "Inner Tight", sans-serif;
}
body main #topNav {
  background-color: #402307;
  font-size: 1.7rem;
  font-family: "Inner Tight", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 0 5vh;
}
body main #topNav .backToMain {
  width: 15%;
}
body main #topNav .backToMain img {
  width: 100%;
}
body main #topNav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
body main #topNav ul li {
  list-style-type: none;
}
body main #topNav ul li a {
  color: #FFF4DE;
  text-decoration: none;
}
body main #topNav ul li a:hover {
  text-decoration: underline;
}
body main header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(../Aimg/fond2.jpg);
  background-size: cover;
  background-position: center;
  padding: 10vh;
  padding-top: 0;
}
body main header img {
  width: 20%;
}
body main header h1 {
  font-family: "Stick No Bills", sans-serif;
  font-size: 3rem;
  color: #402307;
}
body main header p {
  font-size: 1.3rem;
  color: #FFF4DE;
  line-height: 2.5rem;
}
body main .equipe {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
body main .equipe h2 {
  font-family: "Stick No Bills", sans-serif;
  font-size: 2.5rem;
  color: #FFF4DE;
  background-color: #402307;
  text-align: center;
  margin: 5vh 0;
}
body main .footerContainer {
  background-color: #402307;
}
body main .footerContainer .botNav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh 0;
  color: #FFF4DE;
}
body main .footerContainer .botNav a {
  color: #FFF4DE;
  text-decoration: none;
}
body main .footerContainer .botNav .botNavContainer {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
body main .footerContainer .botNav .botNavContainer h6 {
  font-family: "Stick No Bills", sans-serif;
  font-size: 1.5rem;
}
body main .footerContainer .botNav .botNavContainer p, body main .footerContainer .botNav .botNavContainer a {
  font-family: "Inner Tight", sans-serif;
}
body main .footerContainer .botNav .botNavContainer .programme {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
}
body main .footerContainer .botNav .botNavContainer .programme ul li {
  list-style-type: none;
}
body main .footerContainer .botNav .botNavContainer .programme ul li:hover {
  text-decoration: underline;
}
body main .footerContainer .botNav .botNavContainer .doubleElements {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body main .footerContainer .botNav .botNavContainer .doubleElements .contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body main .footerContainer .botNav .botNavContainer .doubleElements .contact .contactMethods {
  display: flex;
  flex-direction: column;
}
body main .footerContainer .botNav .botNavContainer .doubleElements .contact .contactMethods a:hover {
  text-decoration: underline;
}
body main .footerContainer .botNav .botNavContainer .doubleElements .adress {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body main .footerContainer .botNav .botNavContainer .socials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
body main .footerContainer .botNav .botNavContainer .socials .socialsIcons {
  display: flex;
  gap: 1rem;
}
body main .footerContainer .botNav .botNavContainer .socials .socialsIcons svg {
  cursor: pointer;
  width: 3vh;
  height: 3vh;
}
body main .footerContainer .copyright {
  color: #FFF4DE;
  display: flex;
  justify-content: center;
  font-family: "Inner Tight", sans-serif;
  gap: 0.5rem;
  padding: 2vh;
}
body main .footerContainer .copyright a {
  color: #FFF4DE;
}/*# sourceMappingURL=style.css.map */